NEXT_PUBLIC_SITE_URL=https://dochoinhapkhau.tienso.vn
NEXT_PUBLIC_PHONE_DISPLAY=0367 568 563
NEXT_PUBLIC_PHONE_HREF=tel:0367568563
NEXT_PUBLIC_ZALO_URL=https://zalo.me/0367568563
NEXT_PUBLIC_GA4_ID=
NEXT_PUBLIC_META_PIXEL_ID=
NEXT_PUBLIC_TIKTOK_PIXEL_ID=
NEXT_PUBLIC_CLARITY_ID=
